.alphabet-name {
  padding: 0;
  list-style: none;
  position: absolute;
  top: -20px;
  left: 430px;
}



.alphabet-name__link {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  color: black;
}
