.selection {
  background-color: $basic-grey;
  margin-top: -25px;
  padding-top: 25px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-top: -50px;
    padding-top: 50px;
  }

}

.selection__title {
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
  color: $basic-blue;
  width: 145px;

  @media (min-width: $tablet-width) {
    width: auto;
    border-bottom: 1px solid $basic-yellow-100;
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    padding: 38px 0

  }
}

.selection__wrapper {
  margin-top: 25px;
  padding-top: 10px;
  background-color: $basic-yellow;
  border-radius: 20px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    max-width: 285px;
    position: absolute;
    right: 60px;
  }
}

.selection__button {
  background-color: white;
  color: $basic-blue-100;
  margin-bottom: 25px;
  margin-top: 25px;
}
