.tabs {
  border-top: 1px solid $basic-yellow-100;
}

.tabs__title {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: $basic-blue;
}

.tabs__list {
  list-style: none;
  padding: 0;
  position: relative;

  &--checkbox {
    display: flex;
  }
}

.tabs__item {
  position: relative;
  margin-bottom: 10px;

  &--radio {
    height: 30px;
    width: 30px;
    background: white;
    border-radius: 50%;
  }
}

.tabs__item input[type="checkbox"] + .tabs__name::after {
  content: none;
}

.tabs__item input[type="checkbox"]:checked + .tabs__name::before {
  background-image: none;
}

.tabs__item input[type="checkbox"]:checked + .tabs__name::after {
  content: "";
}

.tabs__checkbox {
  opacity: 0;
}

.tabs__name {
  padding-left: 10px;
  padding-top: 2px;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  font-size: 15px;
  line-height: 20px;

  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-image: url("../img/catalog-checkbox-off.svg");
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 4px;
    top: 3px;
    left: 0;
    cursor: pointer;
  }

  &::after {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    background-image: url("../img/catalog-checkbox-on.svg");
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 4px;
    left: 0;
    top: 3px;
    cursor: pointer;
  }

  &:hover::before,
  :hover::after {
    opacity: 0.8;
  }
}

.tabs__range {
  display: flex;
  position: relative;
  margin-bottom: 20px;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    background: $special-grey-500;
    height: 12px;
    width: 1px;
    left: 50%;
    z-index: 1000;
  }

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    background: $special-grey-500;
    height: 12px;
    width: 1px;
    left: 50%;
    z-index: 1000;
  }
}

.tabs__value {
  width: 50%;
  border: 1px solid $special-grey-500;
  height: 31px;
  text-align: center;
  position: relative;
  color: $basic-blue;
  font-weight: bold;


  &--left {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: none;
  }

  &--right {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-left: none;
  }
}

.tabs__dash {
  &::before {
    position: absolute;
    content: "";
    z-index: 1001;
    left: 47%;
    top: 50%;
    background: $special-grey-500;
    height: 1px;
    width: 15px;
  }
}

.tabs__checkbox-ways {
  position: relative;
  opacity: 0;
  cursor: pointer;
}

//Air
.tabs__checkbox-ways + .tabs__radio-name::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 7px;
  width: 14px;
  height: 14px;
  background-image: url("../../img/airplane.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.tabs__checkbox-ways:checked + .tabs__radio-name::before {
  background-image: none;
}

.tabs__checkbox-ways:checked + .tabs__radio-name::after {
  content: "";
  position: absolute;
  left: 8px;
  top: 7px;
  width: 14px;
  height: 14px;
  background-image: url("../../img/airplane.svg");
  background-repeat: no-repeat;
}


//Bus
.tabs__checkbox-ways + .tabs__radio-name-bus::before {
  background-image: url("../../img/bus.svg");
  left: 8px;
  top: 7px;
  height: 16px;
  width: 16px;
}

.tabs__checkbox-ways:checked + .tabs__radio-name-bus::after {
  background-image: url("../../img/bus.svg");
  left: 8px;
  top: 7px;
  height: 16px;
  width: 16px;
}

//Bike
.tabs__checkbox-ways + .tabs__radio-name-bike::before {
  background-image: url("../../img/bike.svg");
  left: 8px;
  top: 7px;
  height: 16px;
  width: 16px;
}

.tabs__checkbox-ways:checked + .tabs__radio-name-bike::after {
  background-image: url("../../img/bike.svg");
  left: 8px;
  top: 7px;
  height: 16px;
  width: 16px;
}

//Foot
.tabs__checkbox-ways + .tabs__radio-name-foot::before {
  background-image: url("../../img/foot.svg");
  left: 8px;
  top: 7px;
  height: 16px;
  width: 16px;
}

.tabs__checkbox-ways:checked + .tabs__radio-name-foot::after {
  background-image: url("../../img/foot.svg");
  left: 8px;
  top: 7px;
  height: 16px;
  width: 16px;
}


.tabs__scale {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: $special-blue-800;
}

.tabs__bar,
.tabs__toggle {
  position: absolute;
  background-color: #1d2e5b;
}

.tabs__bar {
  left: 50px;
  margin-left: 19px;
  top: 0;
  width: 145px;
  height: 2px;
}

.tabs__toggle {
  top: -4px;
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;

  &--min {
    right: 0;
  }

  &--max {
    left: 67px;
  }
}
