.address {
  background-color: $basic-yellow;
  margin-top: -25px;
  position: relative;
  z-index: 5;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-top: 50px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    margin-top: -50px;
    padding-top: 100px;
  }
}

.address__wrapper {
  display: flex;
  align-items: center;
}

.address__street {
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 22px;
  width: 100%;
  color: $basic-blue;
  margin-left: 16px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
  }
}

.address__button {
  border: 3px solid $basic-blue-200;
  border-radius: 10px;
  text-decoration: none;
  display: block;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 22px;
  font-weight: bold;
  color: $basic-blue;
  font-size: 18px;
  line-height: 18px;
  margin-top: 32px;
  margin-bottom: 32px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: url("../img/arrow-right.svg") no-repeat;
    background-size: 14px 13px;
    height: 13px;
    width: 14px;
    top: 25px;
    right: 20px;
  }

  @media (min-width: $tablet-width) {
    border-radius: 20px;
    font-size: 24px;
    line-height: 24px;
  }
}

.address__svg {
  fill: $basic-yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -11px;
  margin-top: -11px;

  @media (min-width: $tablet-width) {
    height: 31px;
    width: 31px;
    margin-left: -15px;
    margin-top: -15px;
  }
}

.address__icon-wrapper {
  min-height: 45px;
  min-width: 45px;
  background: $special-blue-900;
  border-radius: 50%;
  position: relative;

  @media (min-width: $tablet-width) {
    min-width: 68px;
    min-height: 68px;
  }
}
