$basic-blue: #1d2e5b;
$basic-blue-100: #161c35;
$basic-blue-200: #192144;
$basic-blue-300: #132576;
$basic-blue-400: #192144;
$basic-blue-500: #182044;


$special-red: #FF5C23;
$special-orange: #ff8d30;
$special-orange-100: #ffa530;
$special-orange-200: #ffbd30;
$basic-yellow: #ffd74b;

$basic-grey: #edeff6;
$special-grey: #444444;
$basic-grey-100: #e6e8f1;
$basic-grey-200: #D6D9E6;
$special-grey-200: #f2f2f2;
$special-grey-300: #e1e3e9;
$special-grey-400: #E2E5F2;
$special-grey-500: #CBCED9;
$special-grey-600: #D6DAED;
$special-grey-700: #E5E5E5;
$special-grey-800: #DFE3F0;
$special-grey-900: #D4D9EB;

