$basic-blue: #1D2E5B;
$basic-blue-100: #161C35;
$basic-blue-200: #192144;
$basic-blue-300: #132576;
$basic-blue-400: #192144;

$special-orange: #FF8D30;
$special-orange-100: #FFA530;
$special-orange-200: #FFBD30;
$basic-yellow: #FFD74B;

$basic-grey: #EDEFF6;
$basic-grey-100: #E6E8F1;
$special-grey: #444444;
