$basic-blue: #1d2e5b;
$basic-blue-100: #161c35;
$basic-blue-200: #192144;
$basic-blue-300: #132576;
$basic-blue-400: #192144;
$basic-blue-500: #182044;
$basic-blue-600: #141b3b;
$basic-blue-700: #161c36;
$special-blue-800: rgba(29, 46, 91, 0.5);
$special-blue-900: #121936;

$special-red: #ff5c23;
$special-orange: #ff8d30;
$special-orange-100: #ffa530;
$special-orange-200: #ffbd30;
$basic-yellow: #ffd74b;
$basic-yellow-100: #f3c72b;

$basic-grey: #edeff6;
$special-grey: #444444;
$basic-grey-100: #e6e8f1;
$basic-grey-200: #d6d9e6;
$special-grey-200: #f2f2f2;
$special-grey-300: #e1e3e9;
$special-grey-400: #e2e5f2;
$special-grey-500: #cdced9;
$special-grey-600: #d6daed;
$special-grey-700: #e5e5e5;
$special-grey-800: #dfe3f0;
$special-grey-900: #d4d9eb;
$special-grey-1000: #cbced9;

$special-black: rgba(0, 0, 0, 0.5);


$offline-red: #f97676;
$online-green: #81e31e;
$active-heart: #f9eaea;
