.direction {
  background-color: $basic-grey;
  margin-top: -25px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  position: relative;
  z-index: 9;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-top: -50px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
  }
}

.direction__wrapper {
  padding: 0 24px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding-right: 200px;
  }
}

.direction__title {
  padding-top: 50px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 150px;

    &::before {
      background-image: url("../img/flags-back@1x.png");
      content: "";
      position: absolute;
      top: 140px;
      right: -40px;
      width: 290px;
      height: 575px;
      background-repeat: no-repeat;
      border-radius: 20px;

      @media (min-width: $desktop-width) {
        z-index: -1;
        top: -70px;
        right: -170px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      background: $special-grey-400;
      height: 141px;
      width: 141px;
      bottom: -450px;
      left: -50px;
      border-radius: 20px;

      @media (min-width: $desktop-width) {
        bottom: -60px;
        left: -830px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.direction__text {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    max-width: 340px;
    padding: 60px 0 100px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.direction__button {
  padding-top: 22px;
  padding-bottom: 21px;
  padding-left: 23px;
  margin-bottom: 30px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: url("../img/arrow-right.svg") no-repeat;
    background-size: 14px 13px;
    height: 13px;
    width: 14px;
    top: 25px;
    right: 20px;

    @media (min-width: $tablet-width) {
      top: 30px;
      right: 25px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 80px;
    font-size: 24px;
    line-height: 24px;
    padding: 25px 34px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.direction__body {
  @media (min-width: $desktop-width) {
    display: flex;
    padding-top: 200px;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-bottom: 110px;
  }
}

.direction__small-button {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline-block;
    padding: 28px 0 28px 32px;
    background: $basic-yellow;
    border-radius: 20px;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    width: 275px;
    color: $basic-blue;
    text-align: left;
    position: relative;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      background: url(../img/arrow-right.svg) no-repeat;
      background-size: 14px 13px;
      height: 13px;
      width: 14px;
      top: 35px;
      right: 30px;
    }
  }
}
