.main-nav {
  background-image: url("../img/globe-back-mobile 1.png");
  background-repeat: no-repeat;
  object-fit: cover;
  height: auto;
  position: relative;
  background-color: $basic-blue;
}

.main-nav__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-top: 20px;
}

.main-nav__list {
  display: none;
}

.main-nav__about {
  display: none;
  font-weight: 700;
  text-transform: uppercase;
}

.main-nav__burger {
  position: relative;
  width: 25px;
  height: 19px;
  border: 0;
  opacity: 1;
  background: 0 0;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -1px;
    width: 25px;
    height: 3px;
    background-color: white;
    box-shadow: 0 8px 0 0 white;
  }
}
